body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  color: #111;
}

header {
  padding: 60px 20px;
  text-align: center;
  background: #111;
  color: white;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}
